nav {
    background-color: #181717;
    padding: 5px;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

* {
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {

    #content,
    aside {
        width: 100%;
        padding: 0;
        position: left;
    }
}

main {
    padding: 20px;
    overflow: auto;
}

#content {
    float: left;
    width: 75%;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}

#img-home > img{
    width: 100%;
    max-width: 400px;
    height: auto;
}

#img-saya > img{
    width: 100%;
    max-width: 200px;
    height: auto;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #181717;
    color: white;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

footer a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}